/*MUDANÇAS DE CSS QUE A LOJA NAO DEIXA FAZER*/

.vtex-product-list-0-x-inputContainer input {
    color: white;
}

.vtex-product-list-0-x-inputContainer span {
    color: white;
}

.above-header-text{
    color: black;
    text-decoration: none;
}

.vtex-login-2-x-container .vtex-button{
    background-color: transparent !important;
}
.vtex-login-2-x-container .vtex-button .vtex-button__label{
    padding: 0;
    margin:0;
}


.vtex-login-2-x-box{
    right: -84px !important;
}



