.headerRowContainer--main-header {
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  max-width: 83.125rem;
  margin: auto;
}


 .headerRowContentContainer--main-header {
  padding: 0;
  top: 0;
  z-index: 20;
  max-width: none;
  transition: 0.3s all;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.headerRowBackground--main-menu{
  background-color: transparent;
}
.headerRowBackground--main-menu-normal{
  background-color: white !important;
}

.headerRowContentContainer--main-menu{
  max-width: 83.125rem;
}
:global(.vtex-sticky-layout-0-x-wrapper--stuck) .headerRowBackground--main-header, :global(.vtex-sticky-layout-0-x-wrapper--stuck) .headerRowBackground--main-menu{
  
  background-color: #fff !important;
  transition: 0.3s all;
}


:global(.vtex-sticky-layout-0-x-wrapper--stuck) :global(.vtex-store-components-3-x-logoImage),:global(.vtex-sticky-layout-0-x-wrapper--stuck) :global(.vtex-store-drawer-0-x-openIconContainer--menu-mobile){
  filter: brightness(0)
}

:global(.vtex-store-drawer-0-x-openIconContainer--menu-mobile){
  filter: none;
}



.headerRowBackground--main-header, .headerRowBackground--main-header-mobile-home {
  background-color: rgba(0,0,0,0.15) !important;
  transition: 0.3s all;
}
.headerRowBackground--main-header-normal, :global(.vtex-sticky-layout-0-x-wrapper--stuck) .headerRowBackground--main-header-mobile-home{
  background-color: white !important;
}


/*.headerStickyRow--main-header-home {
  top: 0 !important;
}*/


:global(.vtex-store-header-2-x-headerStickyRow--main-menu) {
  height: 46px;
  background-color: rgba(0,0,0,0.15);
  position: sticky;
  top: 112px;
  z-index: 9;
}



:global(.vtex-menu-2-x-menuContainerNav--mainMenu) {
  width: 60%;
}

:global(.vtex-menu-2-x-menuContainerNav--mainMenu)
  :global(.vtex-menu-2-x-menuContainer--mainMenu) {
  display: flex;
  align-items: stretch;
}

.headerRowContainer--main-menu{
  justify-content: center;
}
:global(.vtex-reviews-and-ratings-3-x-loginLink) {
  padding-left: 0px;
}

:global(.vtex-reviews-and-ratings-2-x-loginLink) {
  padding-left: 0px;
}

:global(.vtex-address-form__postalCode) {
  padding-bottom: 0px;
  margin-bottom: 9px;
}

:global(.vtex-numeric-stepper__plus-button),
:global(.vtex-numeric-stepper__minus-button) {
  border-radius: 0px;
}

:global(.vtex-address-form__postalCode-forgottenURL) {
  display: none;
}

:global(.vtex-reviews-and-ratings-2-x-reviewsHeading) {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:global(.vtex-slider-layout-0-x-caretIcon) {
  color: #000 !important;
}

.headerStickyRow--main-header-home-mobile {
  padding: 0px 15px;
  background-color: #FFFF;
}

.headerRowBackground--main-header-mobile {
  background-color: #FFF;
}

@media (max-width: 760px) {
  .headerStickyRow--main-header-home-mobile {
    border-top: solid 4px #FFF;
    padding-bottom: 0.2em;
  }
   :global(.vtex-store-components-3-x-logoImage){
   width: 80%;
  }
}


