.triggerContainer {
    width: 18%;
    background-color: #0054A8;
    height: 48px;
    padding-top: 0.7rem;
}

:global(.vtex-mega-menu-2-x-menuContainerNav) {
    z-index: 99999 !important;
    max-width: 1530px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 10px 17px -2px rgb(0 0 0 / 30%);
    border: 1px solid #f7f4f4;
}

.triggerContainer::before {
    content: "TODAS AS CATEGORIAS";
    font-family: "Roboto";
    font-size: 12px;
    color: #FFF;
    position: relative;
    margin-right: 10px;
    top: -7px;
}

.styledLinkText--mega-menu:hover {
    color: #fe5000;
}

:global(.vtex-mega-menu-2-x-menuItemVertical--mega-menu), :global(.vtex-mega-menu-2-x-submenuItemVertical--mega-menu){
    border-color: transparent !important;
}

:global(.vtex-mega-menu-2-x-submenuContainerVertical--mega-menu){
    background-color: #0054A8 !important;
}

