

.sliderRightArrow, .sliderLeftArrow{
    height: 45px;
    width: 46px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.30) !important;
    padding: 10px;
}




.sliderRightArrow--carousel-topbar, .sliderLeftArrow--carousel-topbar {
    height: 1.5rem;
    width: 1.5rem;
    box-shadow: none;
    border-radius: 0%;
    background: transparent !important;
    padding: 4px;
}



.slideChildrenContainer--slider-shelf--default, .slideChildrenContainer--cat-rectangle-slider{
    margin-top: 1em;
    margin-bottom: 1em;
}

.slideChildrenContainer--cat-rectangle-slider{
    margin-left: 6px;
    margin-right: 6px;
}

.slideChildrenContainer--cat-rectangle-slider :global(.vtex-store-components-3-x-imageElementLink) :global(.vtex-store-components-3-x-imageElement){
    height: auto !important;
}


:global(.vtex-search-result-3-x-container--layout--testeaaa) :global(.vtex-product-summary-2-x-container--default-prod-shelf){
    padding: 1rem;
}

:global(.vtex-search-result-3-x-container--layout--testeaaa) :global(.vtex-product-summary-2-x-imageNormal){
    height: 496px !important;
}



@media screen and (max-width: 768px) {

    :global(.vtex-shelf-1-x-shelfContentContainer--related--shelf) :global(.vtex-slider-0-x-sliderFrame) :global(.vtex-shelf-1-x-slide--related--shelf) :global(.vtex-product-summary-2-x-container--default-prod-shelf){
        padding: 0 4px
        }
        
    .slide--slider-shelf--default{
        margin: 0px 4px;
    }
    :global(.vtex-slider-layout-0-x-paginationDot--slider-shelf--default){
        display: none;
    }
    :global(.vtex-slider-layout-0-x-sliderLayoutContainer--mainCarousel){
        margin-top: -3.8rem;
    }
}
@media screen and (min-width: 768px) {
    :global(.vtex-slider-layout-0-x-sliderLayoutContainer--mainCarousel){
        margin-top: -7.7rem;
    }
    .sliderLeftArrow{
        margin-left: 2.5em;
    }
    
    .sliderRightArrow{
        margin-right: 2.5em;
    }
    :global(.vtex-product-summary-2-x-container--default-prod-shelf){
        max-width: 420px !important;
    }
}

@media screen and (min-width: 1200px)  and (max-width: 1850px){
  
    :global(.vtex-product-summary-2-x-container--default-prod-shelf){
        padding: 1rem;
    }
}



@media screen and (min-width: 1200px)  and (max-width: 1400px){
  
    :global(.vtex-product-summary-2-x-container--default-prod-shelf){
        max-width: 420px !important;
    }
    
    
    :global(.vtex-product-summary-2-x-imageNormal){
        height: 422px!important;
    }
    :global(.vtex-search-result-3-x-container--layout--testeaaa) :global(.vtex-product-summary-2-x-container--default-prod-shelf){
        padding: 0.5rem;
    }

    :global(.vtex-search-result-3-x-container--layout--testeaaa) :global(.vtex-product-summary-2-x-imageNormal){
        height: 286px !important;
    }
}



@media screen and (min-width: 1401px)  and (max-width: 1800px){
  
    :global(.vtex-product-summary-2-x-imageNormal){
        height: 480px!important;
    }
    :global(.vtex-search-result-3-x-container--layout--testeaaa) :global(.vtex-product-summary-2-x-container--default-prod-shelf){
        padding: 0.5rem;
    }

    :global(.vtex-search-result-3-x-container--layout--testeaaa) :global(.vtex-product-summary-2-x-imageNormal){
        height: 346px !important;
    }
}

@media screen and (min-width: 1801px) {
  
    :global(.vtex-product-summary-2-x-imageNormal){
        height: 614px !important;
    }
    
}






