.cartIcon {
  display: none;
}

.minicartIconContainer::after {
  content: url('assets/icons/lastbag.svg');

}

:global(.vtex-sticky-layout-0-x-wrapper--stuck) .minicartIconContainer::after, :global(.vtex-store-header-2-x-headerStickyRow--main-header-normal) .minicartIconContainer::after, :global(.vtex-store-header-2-x-headerStickyRow--main-header-mobile) .minicartIconContainer::after {

  filter: brightness(0)!important;

}

.minicartQuantityBadgeDefault {
  top: -0.8em;
  right: -0.6rem;
  padding: 0.015rem;
  background-color: #B11D2F;
}


.minicartProductListContainer {
  background-color: #F5F5F5;
}


:global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button) {
  background-color: transparent !important;
}

.minicartCheckoutButton :global(.vtex-button__label) {
  font-size: 16px;
  font-weight: bold;
}

.minicartCheckoutButton {
  position: relative;
  top: -10px;
}

.openIconContainer {
  padding-top: 6px;
}





.closeIconContainer {
  padding: 8px;
}

.minicartTitle {
  font-weight: 400;
  color: #2E1B0D;
  text-align: center;
  padding-bottom: 10px;
}

.closeIconButton {
  position: absolute;
  right: 83%;
  padding-bottom: 0;
  padding-top: 0.8rem;
}


@media screen and (max-width: 768px) {

  .openIconContainer {
    padding-left: 0px;
  }

  .openIconContainer :global(.vtex-button__label) {
    padding: 0px;
  }
}

@media screen and (min-width: 768px) {

  :global(.vtex-minicart-2-x-minicartIconContainer){
    margin-top: -7px;
    margin-left: 1rem;
  }
  :global(.vtex-minicart-2-x-minicartIconContainer)::before {
    content: "Carrinho";
    color: #fff;
    position: absolute;
    top: 33px;
    right: -15px;
    font-size: 0.70rem;
    text-transform: initial;
  }

  :global(.vtex-sticky-layout-0-x-wrapper--stuck) :global(.vtex-minicart-2-x-minicartIconContainer)::before, :global(.vtex-store-header-2-x-headerStickyRow--main-header-normal) :global(.vtex-minicart-2-x-minicartIconContainer)::before{
    color: #000;
  
  }
}