.productBrand{
    text-align: left;
    color: #2E1B0D;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 34px;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.03em; 
}

.containerNormal{
  transition: 0.3s all;
  position: relative;
}

:global(.vtex-product-summary-2-x-frameAround--summarySku){
  border-radius: 100% !important;
}
:global(.vtex-product-summary-2-x-skuSelectorItem) :global(.vtex-product-summary-2-x-skuSelectorInternalBox) {

	border-radius: 100%;
}
.skuSelectorItem--purple .skuSelectorInternalBox {
	background-image: url('https://samsungbr.vteximg.com.br/arquivos/purpura.jpg');
}


  .containerNormal :global(.vtex-button) {
    margin: 0 auto;
    background-color: #BBDF73!important;
    border: none;
    margin-top: -2.9rem;
  
  }

  
  .containerNormal :global(.vtex-button):hover {
  
    background-color: #510707!important;
    
  }


  .containerNormal :global(.vtex-stack-layout-0-x-stackItem--imageContainer){
    width: 100%;
  }

  .containerNormal  :global(.vtex-wish-list-1-x-wishlistIconContainer){
    margin-top: 3em;
    position: absolute;
    width: 100%;
    padding: 0 1.3rem;
    text-align: right;
  }
  
.containerNormal  :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) {

  border-radius: 100%;
  background: rgba(255, 255, 255, 0.30) !important;
  padding: 10px;
  visibility: visible!important;
}

  
.containerNormal  :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) :global(.vtex-button__label) {
padding: 0;
}
:global(.vtex-wish-list-1-x-outline){
  filter: brightness(0);
}

  .nameContainer{
      padding-right: 1em;
  }



  @media (max-width: 1000px) {
    

     /* .containerNormal  :global(.vtex-wish-list-1-x-wishlistIconContainer){
        margin-top: 3em;
        margin-left: 7rem;
      }*/
      .imageStackContainer{
  background: #EDE2D04D !important;
}
    

}

@media (min-width: 1000px) and (max-width: 1400px){

  /*.containerNormal  :global(.vtex-wish-list-1-x-wishlistIconContainer){
    margin-top: 3em;
    margin-left: 8rem;
  }*/



}

@media (min-width: 1400px) and (max-width: 1800px){

/*.containerNormal  :global(.vtex-wish-list-1-x-wishlistIconContainer){
  margin-top: 3em;
  margin-left: 11rem;
}*/

}



@media (min-width: 1000px) and (max-width: 1450px){

.containerNormal{
  transition: 0.3s all;
  max-width: 232px !important;
}



}

 



 
 