.sliderLeftArrow{
    height: 45px;
    width: 46px;
    box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 35%);
    border-radius: 100%;
    background: #fff !important;
    padding: 10px;
}

.sliderRightArrow{
    height: 45px;
    width: 46px;
    box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 35%);
    border-radius: 100%;
    background: #fff !important;
    padding: 10px;
}

.slideChildrenContainer--slider-shelf--default, .slideChildrenContainer--cat-rectangle-slider{
    margin-top: 1em;
    margin-bottom: 5em;
}

.slideChildrenContainer--cat-rectangle-slider{
    margin-left: 6px;
    margin-right: 6px;
}

.slideChildrenContainer--cat-rectangle-slider :global(.vtex-store-components-3-x-imageElementLink) :global(.vtex-store-components-3-x-imageElement){
    height: auto !important;
}

@media screen and (max-width: 768px) {
    .slide--slider-shelf--default{
        margin: 0px 10px;
    }
}
