.inputContainer {
    font-size: 11px;
    border-color: #F5F5F5  !important;
    color: white !important;
    width: 3.4rem !important;
    background-color: #F5F5F5  !important;
}

.quantitySelectorButton {
    background-color: #F5F5F5  !important;
    border-color: #F5F5F5  !important;
    padding: 0.15rem;
}

.productName {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 40px;
    color: #2E1B0D;
    font-size: 14px;
    font-weight: bold;
}

.productVariationsContainer{
    color: #777777;
}

.productBrandName{
display: none;
}

