.infoCardTextContainer--sellerConditionCard {
    padding: 0;
    padding-left: 10px;
    width: 68%;
}


.infoCardContainer--sellerConditionCard {
    justify-content: center;
}

.paragraph--sellerConditionCard {
    font-size: 13px;
}

.skuSelectorSubcontainer--tamanho, .infoCardCallActionContainer--info-card-last{
    display: none;
}

:global(.vtex-store-components-3-x-subscriberContainer){
    margin-top: 2em;
}
:global(.vtex-store-components-3-x-installmentsPrice){
    color: #777777;
}
.infoCardContainer--info-card-last{
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    background-color: #F1E3B7;
}

.infoCardTextContainer--info-card-last{
    margin: 2.5rem 7.5rem;
}

.infoCardImageContainer--sellerConditionCard, .infoCardImageContainer--TelefoneCard {
    padding: 0;
    width: auto;
}

.infoCardTextContainer--TelefoneCard {
    padding: 0;
    padding-left: 10px;
    width: 37%;
    align-items: flex-start;
}

.infoCardContainer--TelefoneCard {
    justify-content: flex-end;
    background-color: #0054A8;
    padding-left: 1.5em;
    height: 40px;
}

.paragraph--TelefoneCard {
    font-size: 11px;
    color: white;
    font-weight: 200;
}

.shareContainer{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: end;
    margin-top: 2em;
}
.shareLabel{
    margin-right: 1em;
}


.listPriceValue {
    text-decoration: none;
}

.infoCardContainer--circle-menu-option {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding: 0;
    margin-bottom: 74px;
}

.infoCardTextContainer--circle-menu-option {
    padding: 0 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.infoCardCallActionContainer--circle-menu-option {
    text-decoration: none !important;
}

.infoCardHeadline--circle-menu-option, .infoCardCallActionText--circle-menu-option {
    font-size: 18px;
    font-weight: 400;
    color: #0054A8;
    text-align: center;
    margin: auto;
    margin-top: 18px;
    text-decoration: none !important;
}

.infoCardImageContainer--circle-menu-option {
    width: 94%;
    text-align: center;
}

.searchBarContainer {
    max-width: 100vw !important;
}

:global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-input-prefix__group) {
    border-radius: 0.25rem 0rem 0rem  0.25rem;

    border: 1px solid  #A3A3A3;
}

.searchBarIcon--external-search {
    background-color: #BBDF73;
    padding: 0.625rem 1.5rem;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

:global(.vtex-store-components-3-x-externalSearchButtonWrapper) {
    border: none;
}

.imageElement--footer-logo {
    margin-top: 10%;
    margin-bottom: 10%;
}
.imageElement--wpp-group-img{
        max-width: 44px !important; 
     max-height: 44px !important;
}


.productBrand {
    font-size: 28px;
    color: #2E1B0D;
    line-height: 130%;
}

.productNameContainer {
    margin-bottom: 1em;
}

:global(.vtex-product-list-0-x-productVariationsItem){
    font-size: 14px;
font-weight: 700;
color:#2E1B0D
}

:global(.vtex-checkout-summary-0-x-summaryTitle),:global(.vtex-checkout-summary-0-x-summaryContent) :global(.vtex-flex-layout-0-x-flexRow){
    display: none;
}

:global(.vtex-store-components-3-x-showMoreButton){
    color:#2E1B0D;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-decoration-line: underline;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

:global(.vtex-store-components-3-x-pointerEventsAuto){
    text-align: left;  
}

:global(.vtex-flex-layout-0-x-flexRowContent--topbar-wpp) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol) :global(.vtex-flex-layout-0-x-flexColChild){
    width: 100%;
}


:global(.vtex-search-2-x-biggy-autocomplete-wrapper) {
    width: 93.5vw;
  }


.skuSelectorContainer {
    display: flex;
    flex-wrap: wrap;
}

.skuSelectorTextContainer {
    padding-left: 5px;
}

:global(.vtex-dropdown__arrow) {
    color: black
}

:global(.vtex-dropdown__container) {
    background-color: #EFEFEF;
    border-radius: 0px;
    border-color: #EFEFEF;
}

:global(.vtex-checkout-summary-0-x-summaryItemContainer){
    color: #2E1B0D;
}

.price_sellingPriceContainer--pdp {
    color: #BBDF73;
    font-size: 20px;
    font-weight: 300;
}

.sellingPriceValue {
    font-size: 20px;
    font-weight: 300;
    line-height: 120%
}

.price_listPriceContainer--pdp {
    font-size: 17px;
    text-align: center;
    margin-left: -26%;
    display: none;
}

:global(.vtex-shelf-1-x-dot--isActive), :global(.vtex-slider-layout-0-x-paginationDot--isActive){
    width: 1.5rem !important;
    border-radius: 32%;
}

:global(.vtex-slider-layout-0-x-paginationDot--mainCarousel){
    margin-top: -2rem;
}

:global(.vtex-slider-layout-0-x-paginationDot--carousel-sellingConditions){
    position: relative;
    top: -2.5rem;
}

:global(.vtex-store-components-3-x-valueWrapper){
    height: 50px;
}

:global(.vtex-store-components-3-x-shippingTableRadioBtn) {
    display: none;
}

.productDescriptionTitle {
    text-align: center;
    color: #1E7BC4;
    font-weight: bold;
    margin-top: 1.5em;
    display: none;

}

:global(.vtex-product-availability-0-x-container){
    margin: 1rem 0;
    align-items: baseline;
}
:global(.vtex-product-availability-0-x-lowStockHighlight){
    margin: 0 0.3rem;
    color: #8A1B45;
}
:global(.vtex-product-availability-0-x-lowStockText), :global(.vtex-product-availability-0-x-lowStockText){
    color: #8A1B45;
}



:global(.vtex-add-to-cart-button-0-x-buttonText--btn-buy-pdp){
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.productDescriptionTitle::after {
    content: url('/arquivos/line-title.png');
    position: relative;
    right: -50px;
    top: -7px;
}

.productDescriptionTitle::before {
    content: url('/arquivos/line-title.png');
    position: relative;
    left: -50px;
    top: -7px;
}


.infoCardContainer--orcamento-cards {
    height: 205px;
    align-items: flex-start;
    padding: 8px;
    margin-top: -10%;
    margin-left: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 8%;
    margin-right: 20px;
    box-shadow: 0 4px 4px 2px rgb(0 0 0 / 25%);
}

:global(.vtex-mega-menu-2-x-styledLinkText--mega-menu):hover {
    color: #fe5000;
}

:global(.vtex-mega-menu-2-x-styledLinkText--mega-menu) {
    font-weight: 400;
}

:global(.vtex-product-list-0-x-productVariationsContainer) {
    font-size: 11px;
}

.skuSelectorSubcontainer--tamanho {
    order: 3
}

.skuSelectorSubcontainer--material {
    order: 1
}

.skuSelectorSubcontainer--fixacao {
    order: 2
}

.skuSelectorName {
    font-weight: 600;
}

/*:global(.vtex-dropdown__container):hover {
    border-color: #ED6F00 !important;
}

:global(.vtex-dropdown__container) {
    border-color: #eb9659 !important;
}

:global(.vtex-styleguide-9-x-popup) {
    background-color: #FFC700 !important;
}
*/
:global(.vtex-add-to-cart-button-0-x-tooltipLabelText) {
    color: #000;
}

/*:global(.vtex-dropdown__button) {
    background-color: #FDEEEB;

}*/

.productDescriptionText {
    font-weight: 300;
    letter-spacing: 0.03em;
    line-height: 1.5em
}

:global(.vtex-store-components-3-x-productImagesThumb) {
    margin-top: 1em;
}

:global(.vtex-store-components-3-x-swiperPaginationClickable) {
    bottom: -4px;
}



:global(.vtex-store-components-3-x-productImage)::before {
    content: url('/arquivos/flagPDP.png');
    position: relative;

}

:global(.vtex-product-summary-2-x-element--default-prod-shelf) :global(.vtex-button) {
    text-transform: capitalize;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear;
    z-index: 99
}

:global(.vtex-product-summary-2-x-hoverImage){
    z-index: 1 !important;
}

:global(.vtex-product-summary-2-x-element--default-prod-shelf) :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) {
    visibility: visible !important;
    opacity: 1!important;
    border-radius: 100% !important;
}

:global(.vtex-product-summary-2-x-container--default-prod-shelf) :global(.vtex-product-summary-2-x-clearLink--default-prod-shelf) :global(.vtex-product-summary-2-x-element--default-prod-shelf) :global(.vtex-button) :global(.vtex-button__label) {
   padding: 0 !important;
   border-radius: 0;
}

:global(.vtex-product-summary-2-x-container--default-prod-shelf):hover :global(.vtex-product-summary-2-x-clearLink--default-prod-shelf) :global(.vtex-product-summary-2-x-element--default-prod-shelf) :global(.vtex-button) {
    visibility: visible;
    opacity: 1;
    text-transform: capitalize;
    border-radius: 0;
    z-index: 99;
}

:global(.vtex-menu-2-x-styledLinkContent--menu-footer) {
    font-weight: 400;
    font-size: 1rem;
    color: #2E1B0D

}

:global(.vtex-slider-layout-0-x-sliderLayoutContainer--carousel-topbar){
    background-color: #F1E3B7;
    height: 52px;
}

:global(.vtex-checkbox__line-container) :global(.vtex-checkbox__label){
    color: #2E1B0D;
    font-size: 0.875rem;
}

:global(.vtex-stack-layout-0-x-stackContainer--imageContainer){
    background-color: #EDE2D04D;
}



:global(.vtex-login-2-x-profileIcon){
    display: none;
}


:global(.vtex-shelf-1-x-sliderContainer--related--shelf){
    max-width: 95% !important; 
}

:global(.vtex-store-components-3-x-figure){
    margin: 18px;
}

:global(.vtex-store-components-3-x-skuSelectorInternalBox){
    border: none;
}


:global(.vtex-store-components-3-x-skuSelectorItemImage){
    height: 50px;
    width: 34px;
    background-color: #EDE2D04D;
}

:global(.vtex-product-summary-2-x-skuSelectorItemImage--summarySku){
    height: 20px;
    width: 20px;
}

:global(.vtex-product-summary-2-x-valueWrapper--summarySku){
    visibility: hidden;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--preto) :global(.vtex-product-summary-2-x-frameAround--summarySku){
    background-color: black;
}
:global(.vtex-product-summary-2-x-skuSelectorItem--azul) :global(.vtex-product-summary-2-x-frameAround--summarySku){
    background-color: blue;
}
:global(.vtex-product-summary-2-x-skuSelectorItem--brownie) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #4E3629;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--oceano) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #253AA6;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--apricot) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #D1A769;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--camel) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #A7866A;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--oliva) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #434030;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--hibisco) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #940F0E;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--creme) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #EBE0C7;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--laguna) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #598ECF;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--canela) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #AC451C;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--alfazema) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #785377;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--acafrao) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #E59211;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--quartzo) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #DEA08E;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--mate) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #8E864D;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--gengibre) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #9D8D81;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--erva-doce) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #A08C60;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--dourado) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #DED0A6;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--prata) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #DCE0DA;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--cobre) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #B57B6A;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--bronze) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #9B5C44;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--marine) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #00193B;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--capuccino) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #BBA287;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--chocolate) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #4C3530;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--cor-de-rosa) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #EDA59D;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--damasco) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #c95e30;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--lirio) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #Bacbd3;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--violeta) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #7d6a8f;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--ice) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #b1afba;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--pistache) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #b5bb67;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--vinho) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #801e22;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--camel) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #aa876f;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--marsala) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #395433;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--militar) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #59643b;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--sky) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #9BAAC6;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--violeta2) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #3A2B5C;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--rose) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #FAEEEE;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--ouro-light) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #DED0A6;
}
:global(.vtex-product-summary-2-x-skuSelectorItem--apricot) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #D1A769;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--zinco) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #787969;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--luna) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #ffffff;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--opala) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #EFEDEB;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--agata) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #713E13;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--citrino) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #EAC495;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--angelita) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #5A6D8D;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--granada) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #592742;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--hematita) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #493B2E;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--malaquita) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #393D1A;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--rubi) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #CD1807;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--fume) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #8C867A;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--agata-perolado) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #AE4B22;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--dourado-perolado) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #BA9261;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--jet-perolado) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #57514B;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--fume-perolado) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #8C867A;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--prata-metalizado) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #D9D9D9;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--jet-metalizado) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #8C867A;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--dourado-metalizado) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #DED0A6;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--granada-metalizado) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #94445C;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--peridoto-metalizado) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #B0B867;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--avela) :global(.vtex-product-summary-2-x-frameAround--summarySku) {
    background-color: #D6C6AF;
}


:global(.vtex-store-newsletter-1-x-nameInputContainer), :global(.vtex-store-newsletter-1-x-emailInputContainer){
    text-align: right;
}

:global(.vtex-search-result-3-x-buttonShowMore) :global(.vtex-button) :global(.vtex-button__label){
    font-size: 0;
}

:global(.vtex-search-result-3-x-buttonShowMore) :global(.vtex-button) :global(.vtex-button__label)::before{
    content: "Ver mais produtos";
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    color: #2E1B0D;
}

@media (max-width: 1450px) {
    .container {
        max-width: 1230px;
    }
    
}




@media (min-width: 1200px) {

    :global(.vtex-search-result-3-x-searchResultContainer){
        max-width: 98%;
    }
    .shippingContainer {

        padding-left: 12px;
    }

    :global(.vtex-search-result-3-x-galleryItem--normal){
        flex-basis: 25% !important;
        max-width: 25% !important;
        padding: 0 !important;
    }

    :global(.vtex-store-components-3-x-logoLink){
        margin-left: -22%;
    }

   


}

:global(.vtex-wish-list-1-x-iconSize){
    width: 18px;
    height: 18px;
}

@media (max-width: 760px) {

    :global(.vtex-flex-layout-0-x-flexRowContent--product-main){
        margin-top: 0;
        padding-top: 0;
    }

    :global(.vtex-flex-layout-0-x-flexCol--stackclass){
        padding: 0;
        background-color: #EDE2D04D!important;
    }
   
    :global(.vtex-slider-layout-0-x-sliderLayoutContainer--carousel-topbar){
        height: 58px;
    }
    

    :global(.vtex-store-drawer-0-x-childrenContainer--menu-mobile) :global(.vtex-login-2-x-label){
        font-size: 16px;
font-style: normal;
font-weight: 400;
color: #777777;
display: flex;
align-items: center;
padding-left: 1rem;
    }

    :global(.vtex-store-drawer-0-x-childrenContainer--menu-mobile) :global(.vtex-login-2-x-buttonLink){
        border-bottom: 1px solid #666;
        margin-bottom: 16px;
        padding-bottom: 16px;
        margin-top: -1rem;
    }

    :global(.vtex-menu-2-x-menuContainerNav--category-menu-mobile){
        margin-top: 1rem;
    }
    :global(.vtex-menu-2-x-menuItem--department-menu){
        margin-bottom: 1rem;
    }

    
:global(.vtex-product-summary-2-x-imageNormal){
    height: 314px !important;
}

    :global(.vtex-menu-2-x-menuContainerNav--menu-footer){
        padding-left: 0.7rem;
    }

    :global(.vtex-search-2-x-biggy-autocomplete-wrapper) {
        width: 85vw;
    }

    .productDescriptionTitle::after {
        /* content:url('/arquivos/line-title.png');*/
        content: '';
        position: relative;
        right: -24px;
        top: -7px;
        width: 65px;
        overflow: hidden;
    }

    .productDescriptionTitle::before {
        /* content:url('/arquivos/line-title.png');*/
        content: '';
        position: relative;
        left: -24px;
        top: -7px;
        width: 65px;
        overflow: hidden;
    }

    .infoCardContainer--sellerConditionCard {
        display: flex;
    }

    .infoCardTextContainer--sellerConditionCard {
        width: 81%;
    }

    .price_listPriceContainer--pdp {

        margin-left: -43%;
    }

    .infoCardContainer--orcamento-cards {
        height: 218px;
        margin-bottom: 3em;
    }

    :global(.vtex-mega-menu-2-x-styledLinkText--mega-menu), :global(.vtex-mega-menu-2-x-submenuContainerTitle--mega-menu), :global(.vtex-mega-menu-2-x-collapsibleHeaderText--mega-menu), :global(.vtex-mega-menu-2-x-departmentsTitle--mega-menu) {
        color: white;
    }

    :global(.vtex-mega-menu-2-x-goBackButtonText) {
        color: white;
        font-weight: 600;
        text-transform: capitalize;
    }

    :global(.vtex-mega-menu-2-x-accordionIconContainer--mega-menu) {
        color: #FFF !important;
    }

    :global(.vtex-login-2-x-label) {
        color: white;
        display: block;
        padding: 0;
    }

    :global(.vtex-login-2-x-container) {
        display: block;
        float: initial;
    }

}



