

.sliderRightArrow, .sliderLeftArrow{
    height: 45px;
    width: 46px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.30) !important;
    padding: 10px;
}




.sliderRightArrow--carousel-topbar, .sliderLeftArrow--carousel-topbar {
    height: 1.5rem;
    width: 1.5rem;
    box-shadow: none;
    border-radius: 0%;
    background: transparent !important;
    padding: 4px;
}



.slideChildrenContainer--slider-shelf--default, .slideChildrenContainer--cat-rectangle-slider{
    margin-top: 1em;
    margin-bottom: 1em;
}

.slideChildrenContainer--cat-rectangle-slider{
    margin-left: 6px;
    margin-right: 6px;
}

.slideChildrenContainer--cat-rectangle-slider :global(.vtex-store-components-3-x-imageElementLink) :global(.vtex-store-components-3-x-imageElement){
    height: auto !important;
}

@media screen and (max-width: 768px) {
    .slide--slider-shelf--default{
        margin: 0px 10px;
    }
    :global(.vtex-slider-layout-0-x-sliderLayoutContainer--mainCarousel){
        margin-top: -3.8rem;
    }
}
@media screen and (min-width: 768px) {
    :global(.vtex-slider-layout-0-x-sliderLayoutContainer--mainCarousel){
        margin-top: -7.7rem;
    }
    .sliderLeftArrow{
        margin-left: 2.5em;
    }
    
    .sliderRightArrow{
        margin-right: 2.5em;
    }
}



