.title--related--shelf{
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
    text-align: center;
    color:#2E1B0D
}

@media (max-width: 760px) {
    .title--related--shelf{
        font-size: 20px;
    }  
}
