.filterMessage, :global(.vtex-search-result-3-x-filter__container--brand), .filter__container--title, .accordionFilterContainer--marca,
 .filter__container--acesso-restrito, .filter__container--acionamento-remoto, .filter__container--asfixia, .filter__container--biologico, .filter__container--botao-acionamento,
 .filter__container--celular, .filter__container--coleta-coletiva, .filter__container--eletrica, .filter__container--elevacao-de-carga, .filter__container--elevador,
 .filter__container--empilhadeira, .filter__container--epi, .filter__container--equipamento-em-rotacao, .filter__container--esmagamento, .filter__container--explosivos,
 .filter__container--ferramentas, .filter__container--fixacao, .filter__container--fumar, .filter__container--imflamavel, .filter__container--laser, .filter__container--obstaculos,
  .filter__container--porta, .filter__container--proibicao, .filter__container--quimicos, .filter__container--radiacao, .filter__container--risco-corte, .filter__container--seguranca,
  .filter__container--setas, .filter__container--superficie-quente  {
    display: none;
}

.galleryTitle--layout{
color:#515151;
font-size: 22px;
text-transform: uppercase;
margin-bottom: 2em;
}
.filter__container{
    border:none
}

:global(.vtex-search-result-3-x-filterPopupButton){
    background-color: #BBDF73;
    border-radius: 2px;
}

:global(.vtex-search-result-3-x-orderByDropdown){
    padding: 0;
}

:global(.vtex-search-result-3-x-filtersWrapperMobile) :global(.vtex-search-result-3-x-filterPopupTitle){
    color: white;
    font-weight: 700;
}


:global(.vtex-search-result-3-x-filterPopupArrowIcon) :global(.vtex-search-result-3-x-caretIcon){
    color:#BBDF73
}

/*:global(.vtex-store-newsletter-1-x-confirmationCheckboxContainer) :global(.vtex-checkbox__inner-container) {
    border-color: #f5f5f5;
    background-color: white;
  }*/
  .filterTitleSpan{
      text-transform: uppercase;
      color: #515151;
  }

 

  .buttonShowMore :global(.vtex-button){
      border-radius: 100px;
      padding: 14px 40px;
      margin-bottom: 2em;
      margin-top: 2em;
  }

  .filterClearButtonWrapper :global(.vtex-button), .filterApplyButtonWrapper :global(.vtex-button){
      background-color: #BBDF73;
      color: white;
      padding-top: 0.25em;
    padding-bottom: 0.32em;
    border: solid;
    border-width: 2px;
    border-color: #BBDF73;
    border-radius: 100px;

  }

  .filterClearButtonWrapper :global(.vtex-button){
      background-color: white;
      border-width: 2px;
      border-color: #BBDF73;
      color:#BBDF73
  }

  @media (min-width: 1125px) {
    :global(.vtex-search-result-3-x-filter__container){
        padding: 6px 14px;
        border-bottom: 1px solid #E0E0E0;
      }
      :global(.vtex-search-result-3-x-totalProducts--layout){
        width: 40%;
      }
  }

  @media (max-width: 1125px) {
    :global(.vtex-search-result-3-x-orderByButton){
        border: 1px solid #CCC;
        border-radius: 2px;
    }
  }

 