.nameInputContainer--newsletterInput :global(.vtex-styleguide-9-x-input), .emailInputContainer--newsletterInput :global(.vtex-styleguide-9-x-input){
    background-color: #F5F5F5;
    border-radius: 0.25rem;
    border: 1px solid #A3A3A3;

}

.nameInputContainer--newsletterInput :global(.vtex-input-prefix__group), .emailInputContainer--newsletterInput :global(.vtex-input-prefix__group){
    border: none;
    margin-bottom: 1em;
}

::placeholder { 
    color: #3C3C3C;
    opacity: 1;
  }

  .formSubmitContainer{
      text-align: center;
  }

  :global(.vtex-store-newsletter-1-x-formSubmitContainer) :global(.vtex-button){
    color: #FFFFFF;
    font-weight: 700;
    font-size: 0.875rem;
    border-radius: 0.125rem;
    background-color: #BBDF73;
    width: 100%;
    margin-bottom: 1rem;
    border-color: #BBDF73 !important;
}

@media (max-width: 760px) {
 .nameInputContainer--newsletterInput :global(.vtex-input-prefix__group),   .emailInputContainer--newsletterInput :global(.vtex-input-prefix__group){
        justify-content: center;
        height: 55px;
    }

    .nameInputContainer--newsletterInput :global(.vtex-styleguide-9-x-input), .emailInputContainer--newsletterInput :global(.vtex-styleguide-9-x-input){
       width: 95%;
       height: 42px;
    
    }

    :global(.vtex-store-newsletter-1-x-nameInputContainer) :global(.vtex-input ) :global(.vtex-input__label), :global(.vtex-store-newsletter-1-x-emailInputContainer) :global(.vtex-input ) :global(.vtex-input__label) {
        padding-right: 0.9rem;
    width: 98%;
    }

    :global(.vtex-store-newsletter-1-x-formSubmitContainer) :global(.vtex-button){
        width: 95%;
    }

    :global(.vtex-store-newsletter-1-x-confirmationCheckboxContainer){
        padding-left: 0.5rem;
    }

}

