.strong--sellerConditionCard {
    font-size: 1rem;
}

.paragraph--sellerConditionCard {
    font-size: 0.875rem;
}

.wrapper--sellerConditionCard {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid #E0E0E0;
    margin: 0em 0.4em;
}

.paragraph--sellerConditionCard{
    color:#2E1B0D 
}
.paragraph--sectionRichTitle{
    font-size: 2rem;
    color:#2E1B0D;
    margin-bottom: 0;
}

:global(.vtex-rich-text-0-x-wrapper--exception) .paragraph--sectionRichTitle{
    font-size: 2rem;
    color:#2E1B0D;
    margin-bottom: revert;
}

.paragraph--footer-sobre{
    font-weight: 700;
    font-size: 1.125rem;
    color: #2E1B0D
}
.paragraph--copyright__text{
    font-size: 0.75rem;
}

:global(.vtex-rich-text-0-x-image--powered__image){
    width: 74%;
}
.link--orcamento-text, .strong--socialmedia-text {
    font-size: 11px;
    color: white;
    text-decoration: none;
}

.link--orcamento-text {
    font-weight: 200;
}

.paragraph--socialmedia-text {
    align-items: center;
    display: flex;
}

.link--socialmedia-text {
    margin: 0px 2px 0px 2px;
}

.strong--socialmedia-text {
    margin-right: 2px;
}

.wrapper--payment__image {
    padding: 0px 2px;
}

.image--payment__image {
    width: 53px;
}

.paragraph--payment__image {
    margin: 0;
}

.wrapper--security__image {
    margin: 0px 10px;
}

.paragraph--InstitutionalTitle {
    text-transform: uppercase;
    color: #515151;
    font-size: 28px;
}

.container--menu-institucional-dropdown {
    border: 2px solid #ED6F00;
    border-radius: 2px;
    color: #ED6F00;
}

.paragraph--menu-institucional-dropdown {
    margin: 10px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

.container--menu-institucional-dropdown {
    background-repeat: no-repeat;
    background-position: 95% center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='12' viewBox='0 0 17 12' fill='none'%3E%3Cpath d='M2 2L8.74072 9.44704L15 2' stroke='%23ED6F00' stroke-width='3'/%3E%3C/svg%3E");
}

.paragraph--subit-success {
    color: #7AE462
}



.image--vtex-icon {
    width: 80px;
    height: auto;
}

.paragraph--wppgroup-text, .paragraph--wppgroup-btn {
    color: white;
    margin: 0;
    padding: 8px;
    font-size: 1.11rem;
}

.paragraph--wppgroup-text .strong--wppgroup-text {
    color: #FEED17
}

.paragraph--wppgroup-btn {
    background-color: #ed6f00;
    border-radius: 100px;
    padding: 8px 18px;
    text-align: center;
}

.link--wppgroup-btn .wppgrouplink {
    color: white;
    text-decoration: none;
}

.paragraph--icon-with-text::before {
    content: "Favoritos";
    color: #000;
    position: relative;
    top: 12px;
    right: -39px;
    font-size: 0.75rem;
    text-transform: initial;
    cursor: pointer;
}

.paragraph--footer-checkout-normal{
    color:  #2E1B0D;
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 400;
}
.wrapper--filtros{
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
}

.paragraph--filtros{
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    color: #292929;
}

.container--icon-with-text-mobile::before{
    content: url("assets/icons/favoritosmobile.svg");
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 8px;
   
   }
   .container--meus-pedidos-mobile::before{
       content: url("assets/icons/pedidosmobile.svg");
       width: 100%;
       display: block;
       text-align: center;
       padding-top: 8px;
   }
   .container--troca-devolu-mobile::before{
       content: url("assets/icons/trocamobile.svg");
       width: 100%;
       display: block;
       text-align: center;
       padding-top: 8px;
   }
   .container--manual-bolsas-mobile::before{
       content: url("assets/icons/manuelMob.svg");
       width: 100%;
       display: block;
       text-align: center;
       padding-top: 8px;
   }
   
   .container--manual-bolsas-mobile{
       border-radius: var(--Number-2, 4px);
       border: 1px solid var(--Cor-Neutra-Clara-Cinza-Medio, #E0E0E0);
       display: block;
       width: 130px !important;
       margin-bottom: 5px;
   }
   .container--troca-devolu-mobile{
       border-radius: var(--Number-2, 4px);
       border: 1px solid var(--Cor-Neutra-Clara-Cinza-Medio, #E0E0E0);
       display: block;
       width: 130px !important;
       margin-bottom: 5px;
   }
   .container--icon-with-text-mobile{
       border-radius: var(--Number-2, 4px);
       border: 1px solid var(--Cor-Neutra-Clara-Cinza-Medio, #E0E0E0);
       display: block;
       width: 130px !important;
       margin-bottom: 5px;
   }
   .container--meus-pedidos-mobile{
       border-radius: var(--Number-2, 4px);
       border: 1px solid var(--Cor-Neutra-Clara-Cinza-Medio, #E0E0E0);
       display: block;
       width: 130px !important;
       margin-bottom: 5px;
   }


   .paragraph--texto-seo-title{
    margin: 0;
    font-size: 24px;
font-style: normal;
font-weight: 300;
color: #2E1B0D;
   }

   .paragraph--texto-seo{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #777777;
    margin-bottom: 48px;
   }

   @media (min-width: 760px) {
    .paragraph--texto-seo-title, .paragraph--texto-seo{
    padding-left: 4rem;
       }
   }
  
  
   .paragraph--carousel-text{
    font-size: 14px;
   }


@media (max-width: 1450px) {
    .paragraph--wppgroup-text {
        font-size: 13px;
    }

    .wrapper--sellerConditionCard {
        min-height: 192px;
    }
}

@media (max-width: 760px) {

    .paragraph--sectionRichTitle{
        font-size: 20px !important;
    }

    .wrapper--sellerConditionCard {
        min-height: 192px;
        width: 80%;
        margin: auto;
        margin-bottom: 4rem;
    }

    .paragraph--copyright__text, .paragraph--powered__image{
        text-align: center;
    }

    .paragraph--security__image{
        margin: 0;
        padding: 0;
    }

    .paragraph--wppgroup-text {
        font-size: 11px;
    }

    .container--footer-sobre {
        justify-content: center;
        margin-top: 1.5em;
        text-align: center;
    }

    .wrapper--carousel-text :global(.vtex-rich-text-0-x-paragraph){
        text-align: center;
        font-size: 14px;
    }

    .paragraph--manual-bolsas-mobile{
        color: var(--Cor-de-Texto-Escura---500, #2E1B0D);
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        text-decoration: none;
        text-align: center;
        margin-top: 0;
    }
    .paragraph--troca-devolu-mobile{
        color: var(--Cor-de-Texto-Escura---500, #2E1B0D);
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        text-decoration: none;
        text-align: center;
        margin-top: 0;
    }
    .paragraph--icon-with-text-mobile{
        color: var(--Cor-de-Texto-Escura---500, #2E1B0D);
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        text-decoration: none;
        text-align: center;
        margin-top: 0;
    }
    .paragraph--meus-pedidos-mobile{
        color: var(--Cor-de-Texto-Escura---500, #2E1B0D);
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        text-decoration: none;
        text-align: center;
        margin-top: 0;
    }


    
}