.searchCustom{
    color: white;
    font-size: 0.75rem;
    text-transform: initial;
    margin-top: 4px;
    cursor: pointer;
}
.searchCustom span{
    text-transform: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2px;
}
.vtex-styleguide-9-x-scrollBar{
    padding: 0;
}

.search-container{
    position: absolute;
    top: 7em;
    padding: 1em 2em;
    width: 100%;
    left: 0;
    background-color: white;
}

.vtex-sticky-layout-0-x-wrapper--stuck .searchCustom{
    filter: brightness(0) !important;
    color: black
}

.vtex-sticky-layout-0-x-wrapper--stuck {

}


@media (max-width: 1200px) {
    .searchCustom .textDescription{
        display: none;
    }
    .search-container{
        top: 3em !important;
    }
    
}


@media (max-width: 1000px) {
    .searchCustom{
      
        margin-top: 0px;
    }
    
}
