#btn-wpp {
    width: 4em;
    position: fixed;
    top: 88%;
    left: 82%;
    z-index: 9999999999999999999
}

#btn-wpp img {
    width: 52px;
}

@media (min-width: 1100px) {
    #btn-wpp {
        top: 92% !important;
        left: 96% !important;
        right: 0em !important;
    }
}