.howMuchUntilFree{
    background-color: #8A1B45;
    width: 89%;
    text-align: center;
    padding:  10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    border-radius: 0.25rem;
    margin: 12px auto;
}

.howMuchUntilFree p {
    margin:0;
}

.howMuchUntilFree img{
    margin-right: 10px;
}

@media (max-width: 760px) {
    .howMuchUntilFree{
        width: 93%;
    }
}


@media (max-width: 399px) {
    .vtex-flex-layout-0-x-flexRowContent--price-and-quant{
        display: block !important;
    }
}

