.howMuchUntilFree{
    background-color: #8A1B45;
    width: 89%;
    text-align: center;
    padding:  10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    border-radius: 8px;
    margin: 12px auto;
}

.howMuchUntilFree p {
    margin:0;
}

.howMuchUntilFree img{
    margin-right: 10px;
}