.wishlistBTN{
    color: black;
    font-size: 0.75rem;
    text-transform: initial;
    margin-top: 6px;
    cursor: pointer;
    margin-left: 3rem;
    text-align: center;
}

.wishlistBTN a {
    text-decoration: none;
    color: white;
}

.wishlistBTN span{
    text-transform: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vtex-styleguide-9-x-scrollBar{
    padding: 0;
}

.search-container{
    position: absolute;
    top: 7em;
    padding: 1em 2em;
    width: 100%;
    left: 0;
    background-color: white;
}


.vtex-sticky-layout-0-x-wrapper--stuck .wishlistBTN, .vtex-store-header-2-x-headerStickyRow--main-header-normal .wishlistBTN, .vtex-store-header-2-x-headerStickyRow--main-header-mobile .wishlistBTN{
    filter: brightness(0) !important
}

.vtex-sticky-layout-0-x-wrapper--stuck .wishlistBTN a, .vtex-store-header-2-x-headerStickyRow--main-header-normal .wishlistBTN a{
    color:black
}

@media (max-width: 1200px) {
    .wishlistBTN span{
        display: none;
    }

    .wishlistBTN{
        margin-top: 0;
        margin-left: 0;
    }
}